.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 22.97px;
    margin-top: 20px;
}

.description {
    font-weight: 400;
    line-height: 11.48px;
    font-size: 14px;
    margin: 14px 0 33px 0;
}

.img {
    height: 200px;
    width: 100%;
}