.title {
    font-size: 120px;
    max-width: 1179px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    left: 50%;
    margin-top: 50px;
    transform: translate(-50%, 0)
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 62px 0;
}

.item {
    padding: 0 51px;
    font-weight: 400;
    font-size: 32px;
    line-height: 35.2px;
    //font monserat
}